---
# tasks file for ad_backup
- name: Skip this entire role if the host is in the test group
  ansible.builtin.meta: end_role
  when: "'test' in group_names"

- name: Get domain info
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      samba-tool domain info 127.0.0.1 | grep Domain | cut -c 20-
  register: domain_info
  failed_when: false
  changed_when: domain_info.rc == 0

- name: Set fact for FQ domain name
  ansible.builtin.set_fact:
    fqdomain: "{{ domain_info.stdout }}"

- name: Ensure the backup target folder exists
  ansible.builtin.file:
    path: "{{ backup_folder }}"
    state: directory
    mode: "0744"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Template out the auth-file to Ansible's home
  ansible.builtin.template:
    src: .auth.j2
    dest: "/home/{{ ansible_user }}/.auth"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0600"

- name: Template out the backup-file to Ansible's home
  ansible.builtin.template:
    src: backup_ad.sh.j2
    dest: "{{ backup_folder }}/backup_ad.sh"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0744"

- name: "Schedule a regular export in cron"
  ansible.builtin.cron:
    name: "samba-ad-dc export"
    weekday: "6"
    minute: "00"
    hour: "4"
    user: "{{ ansible_user }}"
    job: "{{ backup_folder }}/backup_ad.sh >> /home/{{ ansible_user }}/crontab.log 2>&1"
    state: "present"
